@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
    background: url("../img/bg.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
    /* border: 2px solid red; */
}

.left i {
    font-size: 70px;
    margin: 0px 30px;
}

.left div {
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    line-height: 30px;
}

.mid {
    display: block;
    width: 50%;
    margin: 20px 356px;
    /* border: 2px solid green; */
}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 33px;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 65px 774px;
    padding: 75px;
    width: 36%;
    border-radius: 28px;
}

.container h1{
    text-align: center;
}

.container button{
    display: block;
    width: 93%;
    margin: 20px auto;
}

.form-group input{
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 700
}



